**/node_modules
**/dist
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.git
.github
**/.env
**/.env.*
!**/.env.example
storage/
backend/storage/
docs/
*.md
!README.md
